In [1]:
import numpy as np
import pandas as pd

# Check versions
print("NumPy Version:", np.__version__)
print("Pandas Version:", pd.__version__)

NumPy Version: 1.26.4
Pandas Version: 2.2.2

In [2]:
!pip install --upgrade numpy pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Collecting numpy
  Downloading numpy-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 4.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading numpy-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 32.3 MB/s eta 0:00:00
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 22.3 MB/s eta 0:00:00
Installing collected packages: numpy, pandas
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.2.3 which is incompatible.
langchain 0.3.19 requires numpy<2,>=1.26.4; python_version < "3.12", but you have numpy 2.2.3 which is incompatible.
pytensor 2.27.1 requires numpy<2,>=1.17.0, but you have numpy 2.2.3 which is incompatible.
tensorflow 2.18.0 requires numpy<2.1.0,>=1.26.0, but you have numpy 2.2.3 which is incompatible.
gensim 4.3.3 requires numpy<2.0,>=1.18.5, but you have numpy 2.2.3 which is incompatible.
numba 0.61.0 requires numpy<2.2,>=1.24, but you have numpy 2.2.3 which is incompatible.
thinc 8.2.5 requires numpy<2.0.0,>=1.19.0; python_version >= "3.9", but you have numpy 2.2.3 which is incompatible.
Successfully installed numpy-2.2.3 pandas-2.2.3

In [4]:
# Exercise 1:
import numpy as np
arr1 = np.arange(1, 11)
print("Original array:", arr1)

matrix_2x5 = arr1.reshape(2, 5)
print("Reshaped 2x5 matrix:")
print(matrix_2x5)

Original array: [ 1  2  3  4  5  6  7  8  9 10]
Reshaped 2x5 matrix:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [6]:
# Exercise 2:
arr2 = np.arange(1, 21)
print("\nOriginal array:", arr2)
extracted = arr2[5:15]
print("Elements between 5th and 15th index:", extracted)

Original array: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
Elements between 5th and 15th index: [ 6  7  8  9 10 11 12 13 14 15]

In [7]:
# Exercise 3:
import pandas as pd

fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
print("\nOriginal Series:")
print(fruit_series)

fruit_series['pears'] = 4
print("\nSeries after adding 'pears':")
print(fruit_series)

Original Series:
apples     3
bananas    2
oranges    1
dtype: int64

Series after adding 'pears':
apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [8]:
# Exercise 4:

import random
names = ['Anu', 'Bob', 'Christy', 'Divya', 'Arun', 'Ajay', 'Sree', 'Hitha', 'Isha', 'Nikhil']
ages = [random.randint(25, 45) for _ in range(10)]
genders = random.choices(['Male', 'Female'], k=10)

df = pd.DataFrame({
    'name': names,
    'age': ages,
    'gender': genders
})
print("\nDataFrame with 10 rows:")
print(df)

DataFrame with 10 rows:
      name  age  gender
0      Anu   30    Male
1      Bob   38    Male
2  Christy   33  Female
3    Divya   45    Male
4     Arun   39    Male
5     Ajay   27    Male
6     Sree   35    Male
7    Hitha   41  Female
8     Isha   40    Male
9   Nikhil   30    Male

In [9]:
# Exercise 5:
occupations = ['Programmer', 'Manager', 'Analyst'] * 4
occupations = occupations[:10]

df['occupation'] = occupations
print("\nDataFrame after adding occupation column:")
print(df)

DataFrame after adding occupation column:
      name  age  gender  occupation
0      Anu   30    Male  Programmer
1      Bob   38    Male     Manager
2  Christy   33  Female     Analyst
3    Divya   45    Male  Programmer
4     Arun   39    Male     Manager
5     Ajay   27    Male     Analyst
6     Sree   35    Male  Programmer
7    Hitha   41  Female     Manager
8     Isha   40    Male     Analyst
9   Nikhil   30    Male  Programmer

In [10]:
# Exercise 6:
filtered_df = df[df['age'] >= 30]
print("\nRows where age >= 30:")
print(filtered_df)

Rows where age >= 30:
      name  age  gender  occupation
0      Anu   30    Male  Programmer
1      Bob   38    Male     Manager
2  Christy   33  Female     Analyst
3    Divya   45    Male  Programmer
4     Arun   39    Male     Manager
6     Sree   35    Male  Programmer
7    Hitha   41  Female     Manager
8     Isha   40    Male     Analyst
9   Nikhil   30    Male  Programmer

In [11]:
# Exercise 7:
df.to_csv('employee_data.csv', index=False)
print("\nSaved dataframe to CSV file")

df_from_csv = pd.read_csv('employee_data.csv')
print("\nDataFrame read from CSV:")
print(df_from_csv)

Saved dataframe to CSV file

DataFrame read from CSV:
      name  age  gender  occupation
0      Anu   30    Male  Programmer
1      Bob   38    Male     Manager
2  Christy   33  Female     Analyst
3    Divya   45    Male  Programmer
4     Arun   39    Male     Manager
5     Ajay   27    Male     Analyst
6     Sree   35    Male  Programmer
7    Hitha   41  Female     Manager
8     Isha   40    Male     Analyst
9   Nikhil   30    Male  Programmer